/* importing the font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* some general styles: body styles, background colors, etc. */
body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header,
.section-1,
.footer {
    background-color: #1f2937;
}

.section-3 {
    background-color: #e5e7eb;
}

/* HEADER STYLES */
.header .lhs {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

/* combining common styles from other elements here */
.header a,
.section-1 .content,
.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
}
/* HEADER END */

/* SECTION-1 STYLES */
.section-1 .heading {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}


.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    gap: 50px;
}

.section-1 .text {
    flex: 1;
}

.section-1 .image {
    flex: 1;
}

/* will work for images in section-2 too */
img {
    max-width: 100%;
    height: auto;
}

/* will work for button in section-4 too */
button {
    background-color: #3882f6;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 600;
}

/* creating gaps between elements in content area */
.section-1 .text div {
    margin-bottom: 10px;
} 
/* SECTION-1 END */

/* SECTION-2 STYLES */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
}

.section-2 .heading {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 50px;
}

.section-2 .image-reel {
    display: flex;
    margin-bottom: 50px;
}

.section-2 .image {
    margin: 0 25px;
}

.section-2 img {
    border-radius: 5px;
}

.section-2 .image-desc {
    text-align: center;
    color: #1f2937;
    font-size: 18px;

}
/* SECTION-2 END */

/* SECTION-3 STYLES */
.section-3 {
    padding: 50px 150px;

}

.section-3 .quote-wrapper {
    margin: 50px 20px;
}

.section-3 .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.section-3 .credit {
    font-size: 24px;
    text-align: right;
    font-weight: 600;
}
/* SECTION-3 END */

/* SECTION-4 STYLES */
.section-4 {
    padding: 50px 150px;
}

.section-4 .sign-up-call {
    background-color: #3882f6;
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 20px
}

.section-4 .call-to-action {
    color: #f9faf8;

}

.section-4 .heading {
    font-size: 24px;
    font-weight: 600;
}

.section-4 .text {
    font-size: 18px;
}

.section-4 button {
    border: 2px solid #f9faf8;
}
/* SECTION-4 END */

/* FOOTER STYLES */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
/* FOOTER END */